@model RE.SistemaFaculdade.Application.ViewModels.AlunoViewModel


@{

    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>


<hr />
<hr />
<div>
    <h4>Custo Aluno</h4>
    <hr />
    <dl class="dl-horizontal">

        @if (Model.CustoAlunos != null)
        {
            <table>
                <thead>
                    <tr>
                        <th>Custo</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                @foreach (var custo in Model.CustoAlunos)
                {
                    <tr>
                        <td>Transporte:</td>
                        <td>@custo.Transporte     </td>
                    </tr>
                    <tr>
                        <td>Alimentacao:</td>
                        <td> @custo.Alimentacao </td>
                    </tr>
                    <tr>
                        <td>Aluguel:</td>
                        <td>@custo.Aluguel</td>
                    </tr>
                    <tr>
                        <td>Agua:</td>
                        <td>@custo.Agua </td>
                    </tr>
                    <tr>
                        <td>Luz:</td>
                        <td>@custo.Luz </td>
                    </tr>
                    <tr>
                        <td>Gaz:</td>
                        <td> @custo.Gaz</td>
                    </tr>
                    <tr>
                        <td>Internet:</td>
                        <td> @custo.Internet</td>
                    </tr>
                    <tr>
                        <td>Roupa:</td>
                        <td>@custo.Roupa</td>
                    </tr>

                }
            </table>
        }

    </dl>
</div>


<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AlunoId }) |
    @Html.ActionLink("Voltar para Lista", "Index")
</p>
